# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin directory
bin

libs

/test

# Ignore temporary test fies.
/*.png
/*.dot

/.settings
Session.vim

/*.jar
*.sh
*.swp

